NOTIFY_USER_URL=discord_webhook_url
VOLUME_REPORT_URL=optional_discord_webhook_url
FIRST_USER_ID=discord_user_id

# The script will run fine if you don't have either of these 3, 
# but you will not be pinged via Discord. You must view the Terminal.